.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 99vw;
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(60%);
  object-fit: cover;
}

body {
    background: #F2F1ED;
    font-family: 'Fjalla One', sans-serif;
}

.logo {
    height: 90px;
    width: 100px;
    object-fit: cover;
    border-radius: 200%;
    border:  solid #84703e;
}
  
.dropdown {
      z-index: 999999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      justify-content: space-evenly;
      margin: 0;
      padding: 0
}
  
.dropdownSelect :hover {
      background-color: #cbb68e;
}

header {
  box-sizing: border-box;
  background: #ae4c1b;
  text-align: left;
  position: relative;
  padding: 5px 5px 5px 5px;
  height: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

html {
  display: flex;
}

#eaterySelect, #parkSelect, #attractionSelect {
  flex-direction: row;
  justify-items: stretch;
}

.previewSection{
  border-style: ouset;
  display: flex;
  margin-top: 5px;
  float: left;
  box-sizing: border-box;

}

.parkCard {
  border-radius: 30px;
  background-color:  rgb(200, 208, 157);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
}

.attractionCard {
  border-radius: 30px;
  background-color:  rgb(200, 208, 157);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
}


.eateryCard {
  border-radius: 30px;
  background-color:  rgb(200, 208, 157);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;

}

#eateryLocation {
  margin: 30px;
  /* creates margin between city, state and details button.. but centers location? */
}
 
.button {
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
      background-color:#ededed;
      border-radius:6px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#777777;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
}

.button:hover {
      background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
      background-color:#dfdfdf;
}

.button:active {
      position:relative;
      top:1px;
}

#dropContain {
  display: flex;
  padding: 2em 1em 2em 2em;
  background: rgba(178, 192, 219, 0.8);
  box-sizing: border-box;
  filter: opacity(80%);
  border-radius: 10px;
}
.aside {
   float: right;
   background-color: rgb(200, 208, 157);
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-style: outset;
   padding: 50px;
   overflow: scroll;
}

h1 {
   color: black;
   text-align: center;

}

footer {
  position: inherit;
}

#parkForecast {
  display: flex;
  justify-content: space-around;
}

.weatherCard {
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  /* border:2px solid  #ae4c1b; */
  /* border-radius: 15px; */

} 

.weatherCard h3{
  color: #ffffff;
  padding: 10px;
  margin-bottom: 0%;
  background:#ae4c1b;
  border-top:2px solid  #ae4c1b;
  border-right:2px solid  #ae4c1b;
  border-left:2px solid  #ae4c1b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.weatherCard h4, p {
  margin: 0%;
  margin-top: -5px;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 10px;
  padding-right: 10px;
  background:#ffffff;
  border-right:2px solid  #ae4c1b;
  border-left:2px solid  #ae4c1b;
}

.weatherCard img {
  margin: 0%;
  padding-bottom: 0%;
  width: 96.7%;
  background:#ffffff;
  border-right:2px solid  #ae4c1b;
  border-left:2px solid  #ae4c1b;
}

.weatherCardBottom {
  background: #ffffff;
  border-bottom:2px solid  #ae4c1b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

a:link {
    color:#ae4c1b;
  }

a:hover {
    color: #4D7A5C;
  }

a:visited {
  color:#84703e;
}

#attractionSection h2, p {
  background-color:  rgb(200, 208, 157);
}

.forecastCardTemp {
  background-color: #ffffff;
}