<<<<<<< HEAD
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/heroImage.jpg");
    
    /* Set a specific height */
    width: 99vw;
    height: 45vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(80%);
    object-fit: cover;
  }

  body {
      background: rgb(200, 208, 157);
  }
  
  .logo {
      height: 90px;
      width: 100px;
      object-fit: cover;
      border-radius: 200%;
      border: 10px solid #84703e;
    } 
    
    .dropdown {
        z-index: 999999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        justify-content: space-evenly;
        margin: 0;
        padding: 0
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: #ae4c1b;
    text-align: center;
}

header {
    box-sizing: border-box;
    background: #ae4c1b;
    text-align: left;
    position: relative;
    padding: 5px 5px 5px 5px;
    height: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

html {
    display: flex;
}

#eaterySelect, #parkSelect, #attractionSelect {
    flex-direction: row;
    justify-items: stretch;
}

.previewSection{
    border: 2px solid black;
    display: flex;
    margin-top: 5px;
}
/*.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    box-sizing: border-box;
    background: #ae4c1b;
    text-align: center;
    position: fixed;
    padding: 30px 30px 10px 30px;
    margin-top: -50px;
    justify-content: space-around;
=======
aside {
    border: dodgerblue dotted;
>>>>>>> main
}